.footer {
    background-color: #292929;
    background-color: #6ca04e;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 150px;
}

.footerLink {
    color: #e4ff00;
    text-decoration: none;
}


.footerLink:hover {
    color: #ffee00;
    text-decoration: none;
}