.footer {
    background-color: #1B7B56;
    background-color: #1B7B56;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 150px;
}

.footerLink {
    color: white;
    text-decoration: none;
}


.footerLink:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.padFooter{
    margin: 20px auto;
    display: block;
    float: none;
    text-align: center;
}

.staiInCentroPD{
    margin: auto;
    display: block !important;
    float: none;
    text-align: center;
}

@media (max-width: 770px) {
    .padFooter{
        text-align: center;
    }
}
