.navbar {
    margin: 10px auto;
    padding: 0;
}

.logo-navbar {
    width: 350px;
}

.navbar-collapse {
    flex: initial;
}

.brand-logo {
    position: relative;
}

.name-navbar {
    position: absolute;
    bottom: 0;
}

.navbar-nav {
    text-align: center;
}

.info-top {
    margin-bottom: 10px;
    padding: 12px 0;
    background: #1B7B56;
    margin: 0;
    text-align: center;
    color: white;
}

.container-infoTop {
    max-width: 590px;
    font-weight: 100;
    font-family: monospace;
    font-size: 13px;
}

@media (max-width: 991px) {
    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-collapse {
        flex: none;
    }
}

@media (max-width: 600px) {
    .name-navbar {
        display: none;
    }
}